@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

p{
    font-weight: 300;
    font-size: 15px;
}

section{
    padding: 80px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
    box-shadow: 0 4px 8px rgba(9, 26, 7, 0.7);
    background: linear-gradient(rgba(1, 80, 17, 0.9), rgba(9, 26, 7, 0.6));
}

.sticky a.logo{
    display: flex;
    font-family: "Metamorphous", sans-serif;
    font-size: 2rem;
    color: #d8d580;
    text-shadow:
    0 0 5px #a09d3f,
    0 0 10px #a09d3f;
    text-decoration: none;
    font-size: 2.5rem;
}

header .navbar{
    display: flex;
    position: relative;
    list-style: none;
    justify-content: space-between;
    font-size: 1rem;
}

header .navbar li a{
    font-family: "Metamorphous", sans-serif;
    text-decoration: none;
    justify-content: space-between;
    padding: 20px;
    color: #d8d580;
    font-size: 1.5rem;
    text-shadow:
    0 0 5px #a09d3f,
    0 0 10px #a09d3f
}

.banner {
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.postimg.cc/3wLqddfq/renfaire-hero-img.png);
    background-size: cover;
}

.contact-banner{
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    background-image: url(https://i.postimg.cc/VNS5tJWw/scribe-contact-us.png);
    background-size: cover;
}

.hero-content h1{
    font-size: 6em;
    font-family: "Metamorphous", sans-serif;
    color: rgba(9, 26, 7);
    font-weight: bolder;
    text-shadow:
    0 0 5px #a09d3f,
    0 0 10px #a09d3f,
    0 0 15px #a09d3f;
}

.row .col50{
    width: 48%;
}

.about{
    background-color: rgb(233, 231, 231);
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px 0 25px;
}

.about h2{
    font-size: 3em;
    padding-bottom: 20px;
    font-family: "Metamorphous", sans-serif;
    font-style: bold;
}

.about p{
    font-size: 15px;
}

.col50 .firstimg img{
    object-fit: cover;
    max-height: 500px;
}

.events{
    display: flex;
    flex-direction: grid;
    justify-content: center;
    align-items: center;
}

.events .event-title h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding-bottom: 20px;
    font-style: bold;
    justify-content: center;
}

.events .box {
    margin: 20px;
    border: 6px ridge rgba(1, 80, 17);
    border-radius: 7px;
    overflow: hidden;
    background-color: rgba(9, 26, 7);
}

.events .box img{
    max-width: 450px;
}
.events-text{
    font-size: 1.5em;
    text-align: center;
    padding: 5px 0;
    font-style: italic;
    color:#d8d580;
}

a.btn {
    display: flex;
    margin-top: 40px;
    font-size: 1.5em;
    color:#d8d580;
    font-weight: bolder;
    font-style: italic;
    background-color: rgba(9, 26, 7);
    border-radius: 7px;
    padding: 15px;
    text-decoration: none;
    transition: 0.5s;
}