@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300
}

section{
    padding: 80px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 75px;
    background: linear-gradient(rgba(7, 34, 12, 0.9), rgba(22, 87, 12, 0.6));
}

.sticky a.logo{
    font-family: "Metamorphous", sans-serif;
    font-size: 2rem;
    color: #a09b09;
    font-style: italic;
    text-decoration: none;
    display: flex;
    font-size: 50px;
}

header .navbar{
    display: flex;
    position: relative;
    list-style: none;
    justify-content: space-between;
    font-size: 1rem;
}

header .navbar li a{
    font-family: "Metamorphous", sans-serif;
    text-decoration: none;
    justify-content: space-between;
    padding: 20px;
    color: #c1bc1c;
    font-size: 20px;
}

.banner {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-image: url(https://i.postimg.cc/3wLqddfq/renfaire-hero-img.png);
    background-size: cover;
}