@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

p{
    font-weight: 300;
    font-size: 15px;
}

section{
    padding: 80px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
    box-shadow: 0 4px 8px rgba(9, 26, 7, 0.7);
    background: linear-gradient(rgba(1, 80, 17, 0.9), rgba(9, 26, 7, 0.6));
}

.sticky a.logo{
    font-family: "Metamorphous", sans-serif;
    font-size: 2rem;
    color: #d8d580;
    text-shadow:
    0 0 5px #a09d3f,
    0 0 10px #a09d3f;
    text-decoration: none;
    display: flex;
    font-size: 50px;
}

header .navbar{
    display: flex;
    position: relative;
    list-style: none;
    justify-content: space-between;
    font-size: 1rem;
}

header .navbar li a{
    font-family: "Metamorphous", sans-serif;
    text-decoration: none;
    justify-content: space-between;
    padding: 20px;
    color: #d8d580;
    font-size: 25px;
    text-shadow:
    0 0 5px #a09d3f,
    0 0 10px #a09d3f
}

.banner {
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    background-image: url(https://i.postimg.cc/3wLqddfq/renfaire-hero-img.png);
    background-size: cover;
}

.contact-banner{
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    background-image: url(https://i.postimg.cc/VNS5tJWw/scribe-contact-us.png);
    background-size: cover;
}

.events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.events .box {
    margin: 20px;
    border: 1px solid rgba(9, 26, 7);
}

.events-text{
    text-align: center;
    padding: 15px 0 5px;
}
