@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

html{
    height: 100%;
}

body{ 
    margin: 0;
    min-height: 100vh;
    line-height: 1.6;
    background-color: white;
}

p{
    padding: 0 50px 0 50px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
    box-shadow: 0 4px 8px rgba(9, 26, 7, 0.7);
    background: linear-gradient(rgba(1, 80, 17, 0.9), rgba(9, 26, 7, 0.6));
}

.sticky a.logo{
    display: flex;
    font-family: "Metamorphous", sans-serif;
    font-size: 2rem;
    color: #d8d580;
    text-shadow:
    0 0 5px #a09d3f,
    0 0 10px #a09d3f;
    text-decoration: none;
    font-size: 2.5rem;
}

header .navbar{
    display: flex;
    position: relative;
    list-style: none;
    justify-content: space-between;
    font-size: 1rem;
}

header .navbar li a{
    font-family: "Metamorphous", sans-serif;
    text-decoration: none;
    justify-content: space-between;
    padding: 20px;
    color: #d8d580;
    font-size: 1.5rem;
    text-shadow:
    0 0 5px #a09d3f,
    0 0 10px #a09d3f
}

.homepage-banner {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://i.postimg.cc/3wLqddfq/renfaire-hero-img.png) no-repeat, center/cover;
    background-size: cover;
    border-bottom: 6px ridge rgba(1, 80, 17);
}

.contact-banner{
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://i.postimg.cc/VNS5tJWw/scribe-contact-us.png) no-repeat, center/cover;
    background-size: cover;
    border-bottom: 6px ridge rgba(1, 80, 17);
}

.event-banner{
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://i.postimg.cc/FzrWvmFP/pricing-events.png) no-repeat, center/cover;
    background-size: cover;
    border-bottom: 6px ridge rgba(1, 80, 17);
}

.about-banner{
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://i.postimg.cc/Rq5KQL36/about-us.png) no-repeat, center/cover;
    background-size: cover;
    border-bottom: 6px ridge rgba(1, 80, 17);
}

.guides-banner{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://i.postimg.cc/630mqWzS/about-us-hero.webp) no-repeat, center/cover;
    background-size: cover;
    border-bottom: 6px ridge rgba(1, 80, 17);
}

.hero-content h1{
    font-size: 6em;
    font-family: "Metamorphous", sans-serif;
    color: rgba(9, 26, 7);
    font-weight: bolder;
    text-shadow:
    0 0 5px #a09d3f,
    0 0 10px #a09d3f,
    0 0 15px #a09d3f;
}

.about{
    background: rgb(233, 231, 231);
    border-bottom: 2px solid rgba(9, 26, 7);
}

.row{
    display: flex;
    justify-content: center;
    text-align: center;
}

.row .col50{
    width: 48%;
    padding: 20px;
}

.about h2{
    font-size: 3em;
    font-family: "Metamorphous", sans-serif;
    font-style: bold;
    justify-self: center;
}

.about p{
    font-size: 15px;
}

.col50 .firstimg img{
    height: 400px;
}

.event h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding: 20px;
    font-style: bold;
    justify-content: center;
}

.event{
    padding: 0 25px 0 25px;
    font-size: 15px;
    text-align: center;
}

.event-blocks,
.guides-box{
    display: flex;
    justify-self: center;
}

.guides-title{
    display: flex;
    justify-self: center;
}

.event-blocks .box,
.guides-box .box {
    margin: 20px;
    flex-direction: grid;
    border: 6px ridge rgba(1, 80, 17);
    border-radius: 7px;
    overflow: hidden;
    background-color: rgba(9, 26, 7);
}

.event-blocks .box img,
.guides-box .box img{
    width: 350px;
    object-fit: cover;
}

.guides-box .box img{
    height: 550px;
    object-fit: cover;
}

.event-blocks .box .events-text,
.guides-box .box .guides-text{
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
    font-style: italic;
    color:#d8d580;
}

.btn,
.events-btn,
.guide-btn{
    display: flex;
    padding: 0 20px 0 20px;
    justify-self: center;
    margin-bottom: 20px;
}

.guides-title h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding: 20px;
    font-style: bold;
    justify-content: center;
}

.guides-box{
    display: flex;
}

.guides-box .box{
    margin: 20px;
    flex-direction: grid;
    border: 6px ridge rgba(1, 80, 17);
    border-radius: 7px;
    overflow: hidden;
    background-color: rgba(9, 26, 7);
}

.icons{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.icons img{
    max-height: 100px;
}

.icons .community,
.icons .entertainment,
.icons .passions,
.icons .vendors{
    justify-content: center;
    margin: 20px 20px 0 20px;
}

.icons h3{
    align-content: flex-end;
    text-align: center;
    padding: 10px;
    font-family: "Metamorphous", sans-serif;
    font-weight: 100;
}

.faire-values .corevalues{
    text-align: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding: 20px;
    font-style: bold;
}

.faire-values p{
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
}

.pricing-content h2,
.event-schedule h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding: 0 20px 20px 20px;
    font-style: bold;
    justify-content: center;
}

.pricing-content,
.event-schedule{
    padding: 0 25px 0 25px;
    font-size: 15px;
    text-align: center;
}    

.table{
    padding: 0;
    margin: 20px;
    justify-self: center;
    width: 70%;
    background: rgb(238, 237, 237);
    border: 5px ridge rgba(9, 26, 7);
}

.events th, td,
.pricing th, td{
    font-size: 20px;
    padding: 10px;
    border: .5px solid rgb(9, 26, 7);
}

.pricing td.price{
    text-align: center;
}

.pricing .ga, .vip,
.events .jst, .bt, .te, .as, .tw{
    font-weight: bold;
}

.about-content h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding: 20px;
    font-style: bold;
    justify-content: center;
}

.guides-content h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding: 20px;
    font-style: bold;
    justify-content: center;
}

a.btn {
    margin-top: 40px;
    font-size: 20px;
    color:#d8d580;
    font-weight: bolder;
    font-style: italic;
    background-color: rgba(9, 26, 7);
    border-radius: 7px;
    padding: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.contactus h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding-bottom: 20px;
    font-style: bold;
    justify-content: center;
}

.contactus{
    background: rgb(233, 231, 231);
    padding: 20px;
}

.contactform {
  padding: 50px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
  width: 700px;
  margin: 20px;
  justify-self: center;
}

.contactform h3 {
  color: rgba(9, 26, 7);
  font-size: 1.2em;
  margin: 20px;
  font-weight: 500;
}

.contactform .inputbox {
  position: sticky;
  width: 100%;
  margin-bottom: 20px;
}

.contactform .inputbox {
  position: sticky;
  width: 100%;
  margin-bottom: 20px;
}

.contactform .inputbox input {
  width: 100%;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 10px;
  color: rgba(9, 26, 7);
  outline: rgba(9, 26, 7);
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contactform .inputbox textarea{
  width: 100%;
  height: 200px;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 10px;
  color: rgba(9, 26, 7);
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contactform .inputbox input[type="submit"] {
  font-size: 1em;
  color: #d8d580;
  background: rgba(9, 26, 7);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.contactus {
  background-size: cover;
}

.footer {
  background: rgba(9, 26, 7);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.footer p {
  color: #d8d580;
  font-weight: 300;
}

.footer .icons a {
  color: #d8d580;
}