@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Header and Global Styling */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

body{ 
    margin: 0;
    min-height: 100vh;
    line-height: 1.6;
    background-color: white;
    padding: auto;
}

p{
    font-size: 15px;
    padding: 0 50px 0 50px;
    line-height: 1.6;
    padding-bottom: 15px;
}

.navbar{
    position: absolute;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
    box-shadow: 0 4px 8px rgba(9, 26, 7, 0.7);
    background: linear-gradient(rgba(1, 80, 17, 0.9), rgba(9, 26, 7, 0.6));
}

.logo{
    display: flex;
    font-family: "Metamorphous", sans-serif;
    font-size: 2rem;
    color: #d8d580;
    text-shadow:
    0 0 5px #a09d3f,
    0 0 10px #a09d3f;
    text-decoration: none;
}

.menu ul{
    display: flex;
    position: relative;
    list-style: none;
    justify-content: space-between;
    font-size: 1rem;
}

.menu a{
    font-family: "Metamorphous", sans-serif;
    text-decoration: none;
    justify-content: space-between;
    padding: 20px;
    color: #d8d580;
    font-size: 1.5rem;
    text-shadow:
    0 0 5px #a09d3f,
    0 0 10px #a09d3f
}

.menu a:hover {
    color: #969106
}

.menu-toggle{
    color: #d8d580;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

/*Hero Banner Styling*/

.homepage-banner {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://i.postimg.cc/3wLqddfq/renfaire-hero-img.png) no-repeat, center/cover;
    background-size: cover;
    border-bottom: 6px ridge rgba(1, 80, 17);
}

.contact-banner{
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://i.postimg.cc/VNS5tJWw/scribe-contact-us.png) no-repeat, center/cover;
    background-size: cover;
    border-bottom: 6px ridge rgba(1, 80, 17);
}

.tickets-banner{
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://i.postimg.cc/FzrWvmFP/pricing-events.png) no-repeat, center/cover;
    background-size: cover;
    border-bottom: 6px ridge rgba(1, 80, 17);
}

.about-banner{
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://i.postimg.cc/Rq5KQL36/about-us.png) no-repeat, center/cover;
    background-size: cover;
    border-bottom: 6px ridge rgba(1, 80, 17);
}

.guides-banner{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://i.postimg.cc/630mqWzS/about-us-hero.webp) no-repeat, center/cover;
    background-size: cover;
    border-bottom: 6px ridge rgba(1, 80, 17);
}

.hero-content h1{
    font-size: 6em;
    font-family: "Metamorphous", sans-serif;
    color: rgba(9, 26, 7);
    text-shadow:
    0 0 5px #a09d3f,
    0 0 10px #a09d3f,
    0 0 15px #a09d3f;
}

/*Homepage Styling*/

.about{
    background: rgb(233, 231, 231);
    border-bottom: 2px solid rgba(9, 26, 7);
}

.row{
    display: flex;
    justify-content: center;
    text-align: center;
}

.row .col50{
    width: 48%;
    padding: 20px;
}

.about h2{
    font-size: 3em;
    font-family: "Metamorphous", sans-serif;
}

.about p{
    font-size: 15px;
}

.col50 .firstimg img{
    height: 400px;
    border-radius: 7px;
}

.event h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding: 20px;
    justify-content: center;
}

.event{
    padding: 0 25px 0 25px;
    font-size: 15px;
    text-align: center;
}

.event-blocks,
.guides-box{
    display: flex;
    justify-content: center;
}

.guides-title{
    display: flex;
    justify-self: center;
}

.event-blocks .box,
.guides-box .box {
    display: grid;
    margin: 20px;
    border: 6px ridge rgba(1, 80, 17);
    border-radius: 7px;
    overflow: hidden;
    background-color: rgba(9, 26, 7);
}

.event-blocks .box img{
    width: 350px;
    object-fit: cover;
}

.guides-box .box img{
    width: 350px;
    height: 550px;
    object-fit: cover;
}

.event-blocks .box .events-text,
.guides-box .box .guides-text{
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
    font-style: italic;
    color:#d8d580;
}

.btn,
.events-btn,
.guide-btn{
    display: flex;
    padding: 0 20px 0 20px;
    justify-self: center;
    margin-bottom: 20px;
}

.guides-title h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding: 20px;
    justify-content: center;
}

/* About Page Styling */

.about-story{
    background: rgb(233, 231, 231);
    border-bottom: 2px solid rgba(9, 26, 7);
}

.about-story .about-row,
.icons .col50{
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-story .about-row .col50{
    width: 48%;
    padding: 20px;
}

.about-story .about-row .col50 h2{
    font-size: 3em;
    font-family: "Metamorphous", sans-serif;
    justify-self: center;
    padding-bottom: 20px;
}

.faire-values .corevalues{
    text-align: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding: 20px;
}

.about-story .about-row .col50 p,
.faire-values p{
    padding: 0 20px 20px 20px;
    font-size: 15px;
}

.faire-values p{
    padding: 0 50px 20px 50px;
    text-align: center;
}

.icons{
    display: grid;
    margin: 20px;
    padding: 0 20px 50px 20px;
}

.icons .col50{
    width: 90%;
    justify-self: center;
}

.icons .col50 p{
    font-size: 15px;
    max-width: 600px;
    padding: 40px;
}

.icons img{
    max-height: 150px;
}

.icons h3{
    align-content: flex-end;
    text-align: center;
    padding: 10px;
    font-family: "Metamorphous", sans-serif;
    font-size: 2em;
}

/*Guides Styling*/

.guides-content .title h2{
    text-align: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding: 20px;
}

.guides-content .title p{
    text-align: center;
    font-size: 15px;
}

.guides-grid{
    justify-items: center;
    padding: 50px;
}

.guide-row{
    display: flex;
    justify-content: center;
    text-align: center;
    border: ridge 6px rgba(9, 26, 7, 0.7);
    padding: 20px;
    border-radius: 7px;
    margin: 20px;
    width: 800px;
}

.guide-row .col50{
    width: 48%;
    align-content: center;
}

.guide-row .col50 h2{
    font-family: "Metamorphous", sans-serif;
    font-size: 2em;
    padding: 20px;
    font-style: bold;
}

.guide-row .col50 img{
    height: 600px;
    width: 300px;
    object-fit: cover;
    border-radius: 7px;
}

.guide-row .col50 p{
    font-size: 15px;
    padding-bottom: 20px;
}

/*Tickets Pricing Styling*/

.pricing-content h2,
.event-schedule h2{
    display: flex;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding: 20px;
    justify-content: center;
}

.pricing-content,
.event-schedule{
    padding: 0 20px 0 20px;
    font-size: 15px;
    text-align: center;
}    

.table{
    padding: 0;
    margin: 50px;
    justify-self: center;
    width: 70%;
    background: rgb(238, 237, 237);
    border: 5px ridge rgba(9, 26, 7);
}

.events th, td,
.pricing th, td{
    font-size: 20px;
    padding: 10px;
    border: .5px solid rgb(9, 26, 7);
}

.pricing td.price{
    text-align: center;
}

.pricing .ga, .vip,
.events .jst, .bt, .te, .as, .tw{
    font-weight: bold;
}

/* Contact Page Styling*/

.contactus .title{
    text-align: center;
    justify-items: center;
}
.contactus h2{
    display: flex;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding: 20px;
}

.contactus p{
    font-size: 15px;
    padding: 20px;
}

.contactus{
    background: rgb(233, 231, 231);
    padding: 20px;
    background-size: cover;
}

/*Button and Contact Form Styling*/ 

a.btn {
    margin-top: 40px;
    font-size: 20px;
    color:#d8d580;
    font-weight: bolder;
    font-style: italic;
    background-color: rgba(9, 26, 7);
    border-radius: 7px;
    padding: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.contactform {
  padding: 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
  width: 700px;
  margin: 20px;
  justify-self: center;
  border-radius: 7px;
}

.contactform p {
  color: rgba(9, 26, 7);
  font-size: 15px;
  padding-bottom: 20px;
}

.contactform .inputbox {
  position: sticky;
  width: 100%;
  margin-bottom: 20px;
}

.contactform .inputbox input {
  width: 100%;
  border: 1px solid rgba(9, 26, 7);
  border-radius: 10px;
  padding: 10px;
  color: rgba(9, 26, 7);
  outline: rgba(9, 26, 7);
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contactform .inputbox textarea{
  width: 100%;
  height: 200px;
  border: 1px solid rgba(9, 26, 7);
  border-radius: 10px;
  padding: 10px;
  color: rgba(9, 26, 7);
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contactform .inputbox input[type="submit"] {
  font-size: 1em;
  color: #d8d580;
  background: rgba(9, 26, 7);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

/*Footer Styling*/ 

.footer {
  background: rgba(9, 26, 7);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footer p{
  color: #d8d580;
  font-weight: 300;
}

.footer .icons a {
  color: #d8d580;
}

/*Mobile Styling*/

@media (max-width: 768px){

    body{
        padding: 0;
        margin: 0;
    }

    .navbar{
        max-height: 150px;
        padding: 20px;
    }

    .logo{
        font-size: 1.5rem;
    }

    .homepage-banner,
    .about-banner,
    .guides-banner,
    .tickets-banner,
    .contact-banner{
        max-height: auto;
        border-bottom: 4px ridge rgba(9, 26, 7);
    }

    .hero-content h1{
        font-size: 2rem;
        text-align: center;
        padding: 20px;
    }

    .menu-toggle{
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: rgba(9, 26, 7); 
        top: 75px;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 20px 0;
    }

    .menu.active{
        display: flex;
    }

    .menu ul{
        flex-direction: column;
        align-items: center;
    }

    .menu li{
        margin: 10px 0;
    }

    .row,
    .about-row{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .row .col50,
    .about-row .col50{
        max-width: fit-content;
    }

    .event-blocks,
    .guides-box{
        display: grid;
        justify-self: center;
    }

    .icons .col50{
        display: grid;
        max-width: fit-content;
        align-items: center;
    }

    .guides-grid{
        display: grid;
        max-width: fit-content;
        justify-content: center;
    }   

    .table{
        display: flex;
        margin: auto;
        padding: auto;
    }

    .table th{
        font-size: inherit;
    }

    .table tr, td{
        font-size: inherit;
    }

    .contactform{
        width: auto;
        padding: 20px;
        margin: 20px;
        background: #fff;
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
        border-radius: 7px;
    }
    .contactform p{
        justify-content: center;
    }
}