@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

p{
    font-weight: 300;
    font-size: 15px;
}

section{
    padding: 50px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
    box-shadow: 0 4px 8px rgba(9, 26, 7, 0.7);
    background: linear-gradient(rgba(1, 80, 17, 0.9), rgba(9, 26, 7, 0.6));
}

.sticky a.logo{
    display: flex;
    font-family: "Metamorphous", sans-serif;
    font-size: 2rem;
    color: #d8d580;
    text-shadow:
    0 0 5px #a09d3f,
    0 0 10px #a09d3f;
    text-decoration: none;
    font-size: 2.5rem;
}

header .navbar{
    display: flex;
    position: relative;
    list-style: none;
    justify-content: space-between;
    font-size: 1rem;
}

header .navbar li a{
    font-family: "Metamorphous", sans-serif;
    text-decoration: none;
    justify-content: space-between;
    padding: 20px;
    color: #d8d580;
    font-size: 1.5rem;
    text-shadow:
    0 0 5px #a09d3f,
    0 0 10px #a09d3f
}

.banner {
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.postimg.cc/3wLqddfq/renfaire-hero-img.png);
    background-size: cover;
}

.contact-banner{
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.postimg.cc/VNS5tJWw/scribe-contact-us.png);
    background-size: cover;
}

.event-banner{
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.postimg.cc/FzrWvmFP/pricing-events.png);
    background-size: cover;
}

.about-banner{
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.postimg.cc/Rq5KQL36/about-us.png);
    background-size: cover;
}

.guides-banner{
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.postimg.cc/zvmF0r6K/guides.png);
    background-size: cover;
}

.hero-content h1{
    font-size: 6em;
    font-family: "Metamorphous", sans-serif;
    color: rgba(9, 26, 7);
    font-weight: bolder;
    text-shadow:
    0 0 5px #a09d3f,
    0 0 10px #a09d3f,
    0 0 15px #a09d3f;
}

.row .col50{
    width: 48%;
}

.about{
    background-color: rgb(233, 231, 231);
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px 0 25px;
}

.about h2{
    font-size: 3em;
    padding-bottom: 20px;
    font-family: "Metamorphous", sans-serif;
    font-style: bold;
}

.about p{
    font-size: 15px;
}

.col50 .firstimg img{
    object-fit: cover;
    max-height: 500px;
}

.event-title{
    margin-bottom: 5px;
}

.event h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    font-style: bold;
    justify-content: center;
}

.event-blocks{
    display: flex;
}

.event-blocks .box {
    margin: 20px;
    flex-direction: grid;
    border: 6px ridge rgba(1, 80, 17);
    border-radius: 7px;
    overflow: hidden;
    background-color: rgba(9, 26, 7);
}

.event-blocks .box img{
    max-width: 450px;
}

.event-blocks .box .events-text{
    font-size: 15px;
    text-align: center;
    padding: 5px 0;
    font-style: italic;
    color:#d8d580;
}

.events-btn{
    align-items: center;
}

a.btn {
    display: fixed;
    margin-top: 40px;
    font-size: 15px;
    color:#d8d580;
    font-weight: bolder;
    font-style: italic;
    background-color: rgba(9, 26, 7);
    border-radius: 7px;
    padding: 15px;
    text-decoration: none;
    transition: 0.5s;
}

.guides-title h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding-bottom: 20px;
    font-style: bold;
    justify-content: center;
}

.guides-box{
    display: flex;
}

.guides-box .box{
    margin: 20px;
    flex-direction: grid;
    border: 6px ridge rgba(1, 80, 17);
    border-radius: 7px;
    overflow: hidden;
    background-color: rgba(9, 26, 7);
}

.guides-box .box .guides-text{
    font-size: 15px;
    text-align: center;
    padding: 5px 0;
    font-style: italic;
    color:#d8d580;
}

.pricing-content h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding-bottom: 20px;
    font-style: bold;
    justify-content: center;
}

.pricing th, td{
    border: 5px ridge rgba(9, 26, 7);
    font-size: 20px;
    margin: 0;
    padding: 25px;
}

.event-schedule h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding-bottom: 20px;
    font-style: bold;
    justify-content: center;
}

.events th, td{
    border: 5px ridge rgba(9, 26, 7);
    font-size: 20px;
    margin: 0;
    padding: 25px;
}

.pricing .ga, .vip{
    font-weight: bold;
}

.events .jst, .bt, .te, .as, .tw {
    font-weight: bold;
}

.table{
    margin: 0;
    padding: 25px;
}

.about-content h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding-bottom: 20px;
    font-style: bold;
    justify-content: center;
}

.guides-content h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding-bottom: 20px;
    font-style: bold;
    justify-content: center;
}

.contactus h2{
    display: flex;
    align-items: center;
    font-family: "Metamorphous", sans-serif;
    font-size: 3em;
    padding-bottom: 20px;
    font-style: bold;
    justify-content: center;
}

.contactform {
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 50px;
}

.contactform h3 {
  color: rgba(9, 26, 7);
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.contactform .inputbox {
  position: sticky;
  width: 100%;
  margin-bottom: 20px;
}

.contactform .inputbox {
  position: sticky;
  width: 100%;
  margin-bottom: 20px;
}

.contactform .inputbox input,
.contactform .inputbox textarea {
  width: 100%;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contactform .inputbox input[type="submit"] {
  font-size: 1em;
  color: #d8d580;
  background: rgba(9, 26, 7);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  max-width: 100px;
  transition: 0.5s;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.contactus {
  background-size: cover;
}

.footer {
  background: rgba(9, 26, 7);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  color: #d8d580;
  font-weight: 300;
}

.footer .icons a {
  color: #d8d580;
}